a {
  color: inherit;
  text-decoration: none;
}

.LeagueCard {
  color: red;
  background-color: red;
}

* {
  box-sizing: border-box;
}

.UserPick {
  background-color: red;
}

.bgImage {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.QB {
  background: rgba(239, 116, 161, 0.8);
}

.RB {
  background: rgba(143, 242, 202, 0.8);
}

.WR {
  background: rgba(86, 201, 248, 0.8);
}

.TE {
  background: rgba(254, 174, 88, 0.8);
}

.DL {
  background: rgba(250, 153, 97, 0.8);
}

.DB {
  background: rgba(254, 160, 202, 0.8);
}

.LB {
  background: rgba(174, 182, 252, 0.8);
}

.DEF {
  background: #7988a1;
}

.K {
  background: #bd66ff;
}

.FLEX {
  background: linear-gradient(
    164deg,
    rgba(143, 242, 202, 0.8) 10%,
    rgba(254, 174, 88, 0.8) 50%,
    rgba(86, 201, 248, 0.8) 90%
  );
}

.SUPER_FLEX {
  background: linear-gradient(
    90deg,
    rgba(143, 242, 202, 0.8) 0%,
    rgba(254, 174, 88, 0.8) 50%,
    rgba(86, 201, 248, 0.8) 100%
  );
}

.REC_FLEX {
  background: linear-gradient(
    164deg,
    rgba(143, 242, 202, 0.8) 30%,
    rgba(254, 174, 88, 0.8) 70%
  );
}

.WRRB_FLEX {
  background: rgb(143, 242, 202);
  background: linear-gradient(
    164deg,
    rgba(143, 242, 202, 0.8) 30%,
    rgba(86, 201, 248, 0.8) 70%
  );
}

.IDP_FLEX {
  background: rgb(143, 242, 202);
  background: linear-gradient(
    90deg,
    rgba(143, 242, 202, 0.8) 0%,
    rgba(254, 174, 88, 0.8) 50%,
    rgba(86, 201, 248, 0.8) 100%
  );
}

.formContainer {
  visibility: visible;
  border-radius: 5px;
  opacity: 0.99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #c4c4c4;
  transition: 2s;
}


/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #1A202E;
}

::-webkit-scrollbar-thumb {
  background: #2F3241;
  border-radius: 5px;
}

select option {
  background: rgb(75, 75, 75)!important;
}